:root {
    --bkg-color: #191724;
    --txt-color: #e0def4;
    --links-color: #c4a7e7;
    --header-size: 3vmax;
    --txt-size: 1.5vmax;
    --web-width: 30vw;
    --red: #eb6f92;
    --green: #31748f;
    --blue: #9ccfd8;
}