@import url(config.css);
@import url(fonts.css);

body {
    background-color: var(--bkg-color);
    color: var(--txt-color);
    font-family: basiic;
    max-width: var(--web-width);
    margin: auto;
    text-align: center;
}

h1 {
    font-family: Cherish !important;
    font-size: var(--header-size);
    line-height: 3vh;
}

footer a {
    font-size: 0.7vmax;
}

a {
    color: var(--links-color);
    font-size: var(--txt-size);
    text-decoration: underline wavy 1px var(--red)  ;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2.5rem;
    margin: auto;
    color: #e2e2e2;
}

@media screen and (min-width: 370px) and (max-width: 1240px) {
    body {
        max-width: 100%;
    }
}
